<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzd.model.mapper.WxactivityMapper">
  <resultMap id="BaseResultMap" type="com.wzd.model.entity.Wxactivity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="start" jdbcType="TIMESTAMP" property="start" />
    <result column="end" jdbcType="TIMESTAMP" property="end" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="totle" jdbcType="INTEGER" property="totle" />
    <result column="current" jdbcType="INTEGER" property="current" />
    <result column="avg" jdbcType="DOUBLE" property="avg" />
    <result column="wishing" jdbcType="VARCHAR" property="wishing" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
    <result column="repetition" jdbcType="VARCHAR" property="repetition" />
    <result column="finish" jdbcType="VARCHAR" property="finish" />
    <result column="over" jdbcType="VARCHAR" property="over" />
    <result column="pub_user" jdbcType="INTEGER" property="pubUser" />
    <result column="dep_id" jdbcType="INTEGER" property="depId" />
    <result column="auditor" jdbcType="INTEGER" property="auditor" />
    <result column="aud_time" jdbcType="TIMESTAMP" property="audTime" />
    <result column="audit" jdbcType="INTEGER" property="audit" />
  </resultMap>
</mapper>